/* @import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"; */
@import "./bulma/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

html {
    transition: background-color 0.3s, color 0.3s;
    scroll-behavior: smooth;
}

/* aplica fonte em todo o body */
body {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* ajustes da navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.is-scrolled {
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .navbar-item {
    background-color: transparent;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #F6AF65;
    transition: color 0.3s ease;
}

nav .navbar-item:hover {
    color: #E29545;
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-underline-offset: 4px;
}

.navbar-burger {
    color: #F6AF65;
}

/* Botão do tema claro */
.button-theme-sun {
    border: 1px solid #F6AF65;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease, color 0.3s ease;
    color: #F6AF65;
    -webkit-tap-highlight-color: transparent;
}

.button-theme-sun:hover {
    border-color: #d8924a;
    color: #d8924a;
}

.button-theme-sun:hover #themeIcon i.fa-sun {
    color: #d8924a;
}

/* Botão do tema escuro */
.button-theme-moon {
    border: .5px solid dodgerblue;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease, color 0.3s ease;
    color: dodgerblue;
    -webkit-tap-highlight-color: transparent;
}

.button-theme-moon:hover {
    border-color: #1e6edb;
    color: #1e6edb;
}

.button-theme-moon:hover #themeIcon i.fa-moon {
    color: #1c6edb;
}

/* Transição suave para os ícones */
#themeIcon i {
    transition: color 0.3s ease;
}

/* Cor base dos ícones */
.button-theme-sun #themeIcon i.fa-sun {
    color: #F6AF65;
}

.button-theme-moon #themeIcon i.fa-moon {
    color: dodgerblue;
}

/* ajustes da tela principal */
.hero {
    background-image: url('./assets/Imagem\ profissional\ 2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.apply-shadow {
    text-shadow: 3px 3px 1px black;
}

.apply-red-text {
    color: #E2610F;
}

.apply-black-footer {
    color: #FFFF;
    background-color: #000000;
}

.apply-orange-text {
    color: #F6AF65;
}

.pattern-link {
    background-color: transparent;
    color: #ff8400;
    transition: color 0.3s ease;
}

.pattern-link:hover {
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-underline-offset: 4px;
}

.is-orange {
    border-color: #F6AF65;
    outline: 0px solid #F6AF65;
}

.is-orange:focus {
    border-color: #F6AF65;
    box-shadow: 0 0 0 0.200em rgba(246, 175, 101, 0.40);
}

.icon i {
    color: #b5b5b5;
    transition: color 0.2s ease;
}

.input:focus~.icon i,
input:hover~.icon i {
    color: #F6AF65;
    transition: color 0.2s ease;
}

/* Botão personalizado estilo is-primary */
.button.is-orange {
    background-color: #F6AF65;
    border-color: #F6AF65;
    color: #363636;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.625em 1.15em;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.12;
    white-space: nowrap;
    user-select: none;
    transition: all 0.2s ease-out;
    display: inline-block;
}

/* Hover */
.button.is-orange:hover {
    background-color: #d8924a;
    border-color: #d8924a;
    color: white;
    /* color: #363636; */
}

/* Foco e active */
.button.is-orange:focus,
.button.is-orange.is-active {
    background-color: #d8924a;
    border-color: #d8924a;
    color: white;
    /* color: #363636; */
    outline: none;
    box-shadow: 0 0 0 0.125em rgba(246, 175, 101, 0.25);
}

/* Botão outlined estilo is-orange */
/* .button.is-orange-outlined {
    background-color: white;
    border: 1px solid #F6AF65;
    color: #F6AF65;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    padding: 0.625em 1.15em;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.12;
    white-space: nowrap;
    user-select: none;
    transition: all 0.2s ease-out;
    display: inline-block;
} */

/* Hover */
/* .button.is-orange-outlined:hover {
    background-color: #F6AF65;
    color: white;
    border-color: #d8924a;
} */

/* Foco e active */
/* .button.is-orange-outlined:focus,
.button.is-orange-outlined.is-active {
    background-color: #F6AF65;
    color: white;
    border-color: #d8924a;
    outline: none;
    box-shadow: 0 0 0 0.125em rgba(246, 175, 101, 0.25);
} */